body{
background-color: bisque;
}
table,th,td{
background-color: rgb(230, 225, 225);
color:rgba(72, 9, 90, 0.536);
border: 2px solid black;
border-collapse: collapse;
margin: auto;
text-align: center;
}
.formbox{
text-align: center;
margin: auto; 
width: 300px;
padding: 30px;
border: 2px solid black;
border-radius: 9px;
background-color: rgb(222, 210, 210);    
}
button{
width:100px;
height:30px;;
}
select{
width:200px;
height: 35px;
}
header{
font-size: larger;
color:rgb(46, 46, 197);
}

footer{
font-size: larger;
color:rgb(46, 46, 197);
}